@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: #1e1e1e;
  font-family: "Poppins", sans-serif;
}
/*
body{
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
*/

.container{
  background-color: #3a3a3a;
  min-width: 800px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid rgba(95, 95, 95, 0.411);
}

h1{
  text-shadow: 0 1px 3px #525252;
  color: aliceblue;
  
}

.inner-container{
  background-color: #4d4d4d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  min-width: 770px;
  min-height: 700px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}