html,
body {
  background-color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #3a3a3a;
  width: 850px;
  height: 650px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid rgba(95, 95, 95, 0.411);
  padding: 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
}


h1 {
  text-shadow: 0 1px 3px #525252;
  color: aliceblue;
  margin-bottom: 20px;
}

.message-box {
  max-width: 60%;
}

.input-container {
  width: 800px;
  background-color: #eaf3ff;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: large;
  font-family: "Poppins", sans-serif;
}

button {
  background-color: #bcbcbc;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
}
