.input-container {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-container form {
  display: flex;
  flex: 1;
  align-items: center;
}

input {
  
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: large;
  padding: 10px;
  height: 40px;
}
