.input-container{
    background-color: aliceblue;
    padding: 10px;
    margin: 20px; 
    border-radius: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


input{
   border: none;
   outline: none;
   background-color: aliceblue;
   min-width: 500px;
   font-family: "Poppins", sans-serif;
   font-size: large;
}