.input-container {
  background-color: aliceblue;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-container form {
  display: flex;
  flex: 1;
  align-items: center;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: large;
  padding: 10px;
  height: 40px;
}

button {
  margin-left: 10px;
  height: 40px;
  padding: 0 20px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #ccc;
  font-weight: bold;
  cursor: pointer;
}
